/* Navigation */

/*
body.modal-open {
    filter: blur(3px);	
}
.modal-backdrop {
	position: fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:(@z-modal)-1;

	//&:not(.clear) { // used by menus to indicate no coloring of bg
		background-color:rgba(0,0,0,0.5);
	//}
}
*/
.menu {

}

.hide() {
	height: 0;
	opacity: 0;
	visibility: hidden;
}
.show() {
	height:auto;
	opacity: 1;
	visibility: visible;

}
nav,.nav {
	/*
	<nav class=''> // valid classes are: right|center collapse; 
		<ul>
			<li><a href=...>Item 1</a></li>
			<li><a href=...>Item 2</a></li>
			<li><a href=...>Sub Menu</a>
				<ul>...
				</ul>
			</li>

		</ul>
	</nav>
	*/
	&.top {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items:center;
		>* {
			flex:0 1 auto;	
		}
	}

	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		//align-items: center;
		//align-content:flex-start;
	    background-color: inherit;
	    padding:0;
	    margin:0;
	    list-style: none;
	    position: relative;
	}


 	//good. but needs <a> as a child. javascript helps fix this
	li {
	    margin: 0;
	    padding: 0;
	    display:inline-block;
	    flex:0 1 auto;
	    position: relative;
    }

	a {
	    display:block;
	    position: relative;
	    margin:0;
	    padding:0 @nav-padding-horz; // 1em
    	background-color: inherit;
	    color:inherit;
	    line-height: @nav-line-height; // 3em
	    text-decoration:none;
	    white-space: nowrap;
	    cursor: pointer;
	}

	hr {
		line-height: 1em;
		margin:0;
		padding: 0;
		width: 100%;
	}

	a:hover {
    	background-color: inherit;
	    color:inherit;
	    text-decoration:none;
	}

	ul ul {
		display: flex;
		flex-direction: column;
	    position: absolute;
	    top: 100%;
	    top: calc(100% -2px);
	    min-width: 100%;
		//box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
		.hide();
		// overflow: hidden; <-- this is bad for 2nd level menus
	}

	/*&.hover ul li:hover > ul, */ul li.open > ul {
		.show();
		z-index: @z-modal;
	}
	

	ul ul li {
	    display:block;
	    width: 100%;
	    position: relative;
	}

	ul ul ul {
	    position: absolute;
	    top:0;
	    left:100%;
	    min-width: auto;
	}

	// Add down/right arrow
	ul li > a:after  { 
		font-family: "invisicons"; 
		content:  ' \e802'; // inv-down
	} 
	ul ul li > a:after { 
		content:  '\e805'; // inv-right
		//position: relative;
		//left: 0.3em;
		position: absolute;
		right: 0.3em;
	}


	&.right > ul, ul.right {
		justify-content:flex-end;
		ul {
			right: 0;
			left: auto;			
		}
		ul ul {
		    left:auto;
		    right:100%;
		}
		ul li > a:before { 
			content:  '\e804'; // inv-left
			font-family: "invisicons"; 
			position: absolute;
			left: 0.3em;
		}
		ul li > a:after { content:''; }
	} 
	&.center > ul, ul.center {
		justify-content:center;
	} 


	&.collapse {
		& >ul {
			display:none;
			flex-wrap:nowrap;
			flex-direction:column;
			width:100%;
		}
		li {
		    display:block;
		    text-align: center;
		}
		ul ul {
			position: relative;
			top:0;
		}
		ul ul ul {
			left:0;
		}
			
		.nav-toggle {
		    display: inline-block;
			cursor: pointer;
		    padding:0em @nav-padding-horz;
		    line-height: @nav-line-height;
		}
		.nav-toggle:after {
			font-family: "invisicons";
			content: '\f0c9'; // inv-menu
		}
		.nav-toggle.open ~ ul {
			display:flex;
		}

		@media @sm-viewport {
			// hide on larger screens
			.nav-toggle {
				display: none;
			}

			// reset nav to operate as per default
			& >ul { 		
				display: flex;		
				flex-direction:row;
				flex-wrap: wrap;
			}
			li {
			    display:inline-block;
			    text-align: left;
			}
			ul ul {
				position: absolute;
				top:100%;
	    	}
			ul ul ul {
				top:0;
				left:100%;
			}

		}
	}

}

nav.side {
	ul {
		flex-direction: column;
		flex-wrap:nowrap;
	}
	li {
	    display:block;
	    width: 100%;
	    text-align: left;
	}

	li > a:after  { 
		font-family: "invisicons"; 
		content:  ' \e802'; // inv-down
		position: absolute;
		right: 0.3em;
		left:auto;
	} 
	
	ul ul {
		position: relative;
		top:0;
	}
	ul ul ul {
		left:0;
	}
		
	&.right {
		justify-content:flex-end;
		li {
			text-align: right;
		}
		ul li > a:before { 
			content:  '\e802'; // inv-down
			font-family: "invisicons"; 
			position: absolute;
			left: 0.3em;
		}
		ul li > a:after { content:'' !important; }
	}

	@media @sm-viewport { // ie. NOT collapsed
		&.popup ul ul {
		    position: absolute;
		    top: 0;
		    left:100%;
		    min-width: auto;
			ul {
			    position: absolute;
			    top: 0;
			    left:100%;
			}
		}

		// Add down/right arrow
		&.popup ul {
			li > a:after  { 
				content:  '\e805'; // inv-right
			}
		}	 


		&.right.popup {
			ul {
				right: 0;
				left: auto;			
			}
			ul ul {
			    left:auto;
			    right:100%;
			}
			ul li > a:before { 
				content:  '\e804'; // inv-left
			}
		}

	}
}

nav,.nav {
	// cleanups
	&.right,ul.right {
		li > a:only-child:before { content: '' !important; }
	}
	li > a:only-child:after { content: '' !important; }	
}


/* Good. hover menusbar.
nav,.nav {

	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		//align-content:flex-start;
	    background-color: inherit;
	    padding:0;
	    margin:0;
	    list-style: none;
	    position: relative;
	}


 	//good. but needs <a> as a child. javascript helps fix this
	li {
	    margin: 0;
	    padding: 0;
	    display:inline-block;
	    flex:0 1 auto;
    }

	a {
	    display:block;
	    margin:0;
	    padding:0 1em;
    	background-color: inherit;
	    color:inherit;
	    line-height: 3em;
	    text-decoration:none;
	    white-space: nowrap;
	    cursor: pointer;
	}

	a:hover {
    	background-color: inherit;
	    color:inherit;
	    text-decoration:none;
	}

	ul ul {
	    display: none;
	    position: absolute;
	    top: 100%;
	    top: calc(100% -2px);
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
	}

	ul li:hover > ul {
		display: flex;
		flex-direction: column;
		z-index: 100;
	}

	ul ul li {
	    display:block;
	    width: 100%;
	    position: relative;
	}

	ul ul ul {
	    position: absolute;
	    top:0;
	    left:100%;
	}

	// Add down/right arrow
	ul li > a:after  { 
		font-family: "invisicons"; 
		content:  ' \e802'; // inv-down
	} 
	ul ul li > a:after { 
		content:  '\e805'; // inv-right
		position: relative;
		left: 0.3em;
	}
	li > a:only-child:after { content: '' !important; }


	&.right > ul, ul.right {
		justify-content:flex-end;
		ul ul {
		    left:auto;
		    right:100%;
		}
		ul li > a:after {
			content: '';
			position: relative;
			//padding: 0;
		} 
		ul li > a:before { 
			content:  '\e804'; // inv-left
			font-family: "invisicons"; 
			position: absolute;
			left: 0.3em;
		}
		li > a:only-child:before { content: '' !important; }
	} 
	&.center > ul, ul.center {
		justify-content:center;
	} 


	&.collapse {
		ul {
			display: none;
			flex-wrap:nowrap;
			flex-direction:column;
		}
			
		input#menu-toggle[type="checkbox"] {
			display: none;
		}
		#menu-toggle-label {
			cursor: pointer;
		    padding:1em 1em;
		}
		#menu-toggle:checked ~ ul, ul.checked {
			display: flex;
		}

		@media @sm-viewport {
			// reshow as normal for larger screens
			.label-toggle {
				display: block;
			}
			#menu-toggle-label {
				display: none;
			}


			// reset to default
			ul { 
				display: flex;
				flex-wrap:wrap;
				flex-direction:row;
			}
			ul ul {
	    		display: none;
	    	}

		}
	}

}

*/
