
@use-normalize:			true; // set this to '0' to NOT include NormalizeCSS

//Mobile First responsiveness. Invis CSS preferred
@screen-xs-min: 30em;
@screen-sm-min: 48em;
@screen-md-min: 64em;
@screen-lg-min: 75em;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              calc(@screen-sm-min - 1px);
@screen-sm-max:              calc(@screen-md-min - 1px);
@screen-md-max:              calc(@screen-lg-min - 1px);


@container-sm: calc(@screen-sm-min + @gutter-width);
@container-md: calc(@screen-md-min + @gutter-width);
@container-lg: calc(@screen-lg-min + @gutter-width);

@container-fluid-xs: 98%;
@container-fluid-sm: 95%;
@container-fluid-md: 90%;
@container-fluid-lg: 80%;

@sm-viewport:		~"only screen and (min-width: 48em)";
@md-viewport:		~"only screen and (min-width: 64em)";
@lg-viewport:		~"only screen and (min-width: 75em)";

@root-font-size:        14px;	 // this is applied to <html> and is the 'root' used in 'rem' units below
@link-hover-decoration: underline;
@z-modal: 100;

// general
@border-color:		#aaa;
@border-radius:		4px;
@input-color:		unset;
@input-bg-color:	unset;

// for grid
@grid-columns:              12;
@gutter-width: 	0; //1rem;
@half-gutter-width: @gutter-width * 0.5;
@gutter-compensation: @half-gutter-width * -1;

// navigation
@nav-padding-horz:		1em;
@menubar-line-height:	3em;
@sidebar-line-height:	2em;

// dropdown
//@menu-line-height:	2em;

// modals
@modal-margin:			0.8rem; // 10px

// buttons
@color-primary:			#337ab7;
@color-success:         #5cb85c;
@color-info:            #5bc0de;
@color-warning:         #f0ad4e;
@color-danger:          #d9534f;

@btn-default-color:             #333;
@btn-default-bg:                #fff;
@btn-default-border:            #ccc;

@btn-primary-color:             #fff;
@btn-primary-bg:                @color-primary;
@btn-primary-border:            darken(@btn-primary-bg, 5%);

@btn-success-color:             #fff;
@btn-success-bg:                @color-success;
@btn-success-border:            darken(@btn-success-bg, 5%);

@btn-info-color:                #fff;
@btn-info-bg:                   @color-info;
@btn-info-border:               darken(@btn-info-bg, 5%);

@btn-warning-color:             #fff;
@btn-warning-bg:                @color-warning;
@btn-warning-border:            darken(@btn-warning-bg, 5%);

@btn-danger-color:              #fff;
@btn-danger-bg:                 @color-danger;
@btn-danger-border:             darken(@btn-danger-bg, 5%);
