body { font-family: Helvetica, Arial, sans-serif}
#banner { background-color: purple; color:white; padding: 1.66em 0;}
#banner h1{ color:white; font-size: 42pt; }
#banner nav a { color: inherit;}
#banner nav a:hover, #banner nav a:visited { color: inherit;}

#grid-demo .row { margin:5px 0;}
#grid-demo .row>div             { padding: 0.7em; text-align:center; }
#grid-demo .row>div:not(.nobar) { background-color:#eee; border:1px solid #ddd; border-radius: 4px;}


a { color: purple;}
a:hover,a:visited { color: purple;}
h2 a:hover { text-decoration: none; }
h2 a:hover:after {
	content: " \000020 \0000b6"; /*&para;*/
}

/* docs */
pre {
  display:block;
  padding:9.5px;
  margin:01em 0 10px;
  font-size:13px;
  line-height:1.42857143;
  color:#333;
  word-break:break-all;
  word-wrap:break-word;
  background-color:#f5f5f5;
  border:1px solid #ccc;
  border-radius:4px
}
pre code {
  padding:0;
  font-size:inherit;
  color:inherit;
  white-space:pre-wrap;
  background-color:transparent;
  border-radius:0;
}

code { padding: 2px 4px;
font-size: 90%;
color: #C7254E;
background-color: #F9F2F4;
border-radius: 4px;
}
nav.side {
	width:10em;
	display:block;
}